.box1 {
  width: 800px;
  height: 800px;
  background-color: #808080;
  margin-top: 80px;
  padding-bottom: 80px;
}
.box2 {
  width: 400px;
  height: 100px;
  background-color: blue;
  border: 10px dotted yellow;
}
